.clock {
    border: 4px solid #fff9;
    border-radius: 8px;
    padding: 5px 10px;
    background:#0009;
}

.table {
    display: table-row;
}

.analog {
    display: table-cell;
}

.digital {
    width: 105px;
    font-size: 1.25vw;
    display: table-cell;
    vertical-align: middle;
}