.button_container,
.col {
    height: 90vh;
}

.button_container {
    width: 100vw;
    margin-top: 5vh;
}

.col {
    float: left;
    margin-left: 5vh;
    width: calc((100vw - 20vh) / 3);
    transition: background-color 0.5s;
    transition: border 0.3s;
    border-radius: 30px;
}

.col>p {
    text-align: center;
    position: relative;
    top: 50%;
    color: white;
}

.clock {
    float: right;
}