
<video class="area" autoplay loop muted>
        <source src="{{backgroundPath}}" type="video/mp4">
</video>
<div class="container area">
    <router-outlet></router-outlet>
</div>
<div class="top area">
    <div class="left">
        <div class="image">
            <div class="button">
                <img src="assets/icons/Back.png">
                <h1>Configure</h1>
            </div>
        </div>
    </div>
    <div class="middle">
        <div class="image">
            <h1>CROSS GAME</h1>       
        </div>
    </div>
    <div class="right">
        <div class="image">            
            <app-clock class="clock"></app-clock>
        </div>
    </div>
</div>
<div class="bottom area">
    <div class="button">
        <img src="assets/icons/A.png">
        <h1>Play</h1>
    </div>

    <div class="button">
        <img src="assets/icons/B.png">
        <h1>Back</h1>
    </div>    
</div>