<div class="background">
    <img src="assets/images/DefaultBg.jpg">
</div>
<div class="top area">

</div>
<div class="game area">
    <app-game-thumbnail *ngFor="let game of games" [game]="game"
                        (mouseover)="selectedGame = game"
                        (mouseout)="selectedGame = null"
                        (click)="launchGame(game)"
                        [ngStyle]="{border: selectedGame==game ? '2px solid #0078d7' : '2px solid transparent'}">
    </app-game-thumbnail>
</div>
<div class="bottom area">

</div>